.nav-item{
    font-weight: bold;
    font-size: large;
}

.navbar-brand{
    height: 100px;
    padding-left: 80px;
}

.reservation-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: rgb(73, 100, 87);
  }
.reservation-container > div{
    padding: 10px;
    background-color: rgb(73, 100, 87);
    border-radius: 10px;
}
.restaurant-info {
    grid-column: 1;
  }

.restaurant-image {
    grid-column: 2;
  }

.restaurant-image img {
    max-width: 40%;
    margin: 0 auto;
    display: block;
  }

.btn{
    display: block;
    margin-top: 10px;
}

.navbar{
  position: fixed;
  overflow: hidden;
}

.container{
  margin-top: 7%;
}

.card{
    width: 18 rem;
    height: 100px;
}

.menu-container {
  padding: 20px;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 140px;
}

.menu-item {
  text-align: center;
}

.order{
  text-align: right;
}


.card:hover{
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .container {
    margin-top: 17%;
  }

  .navbar-brand {
    padding-left: 20px;
  }

  .reservation-container {
    grid-template-columns: 1fr;
  }

  .restaurant-info, .restaurant-image {
    grid-column: auto;
    text-align: center;
  }

  .restaurant-image img {
    max-width: 80%;
  }

  .menu-grid {
    grid-template-columns: 1fr;
    gap: 40px;
    padding-left: 100px;
  }

  .order {
    text-align: right;

  }
}

.comment{
  padding-bottom: 30px;
}

.opinion{
  text-align: center;
}

.Rate > h4{
  padding-bottom: 25px;
}

.Rate{
  margin-top: 5%;
  text-align: center;
}

.rate1{
  grid-area: one;
  text-align: left;

}

.rate2{
  grid-area: two;
}

.rate3{
  grid-area: three;
}

.ratings{
  display: grid;
  grid-template-areas:
    'one one two two three three'
    'one one two two three three'
    'one one two two three three';
  gap: 10px;
  background-color: rgb(244,206,20);
  padding: 10px;
  border-radius: 12px;
}

.ratings > div{
  background-color: aliceblue;
}

.rate1, .rate2, .rate3 {
  padding-top: 50px;
}

.logo-placeholder {
  height: 50px;
}

.text-center {
  text-align: center;
  font-style: italic;
  padding: 20px;
}

.star-ratings {
  display: flex;
  justify-content: center;
}

.rating {
  font-size: 24px;
}

.star {
  color: gold;
}

.test{
  background-color: rgb(73, 100, 87);
}

.about-container {
  padding-top: 50px;
}

.about-content {
  padding-right: 20px;
}

.about-images {
  grid-area: 1 / 2 / 2 / 3;
  position: relative;
  margin-bottom: 15%;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.img1,
.img2 {
  width: 50%;
  height: 50%;
  object-fit: cover;
}

.img2 {
  position: absolute;
  top: 90%;
  left: 60%;
  transform: translate(-50%, -50%);
}


div>h1 {
  color: rgb(244, 206, 20);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div>h3{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.btn-primary {
  background-color: rgb(244, 206, 20) !important;
}

.form-group label {
  font-family: cursive;
}

.form-select,
.form-range,
.form-control {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border-color: rgba(255, 255, 255, 0.5);
}

.form-select:focus,
.form-range:focus,
.form-control:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.form-select option {
  background-color: rgb(73, 100, 87);
  color: white;
}


button[type="submit"] {
  margin-top: 15px;
}


.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-family: cursive;
  margin-bottom: 5px;
}

